<div id="task-creator-wrapper">
    <h1>Todo<span class="grey-end">list</span></h1>
    <div id="form-container">
        <form (ngSubmit)="submitForm()" [formGroup]="taskCreatorForm" autocomplete="off" novalidate>
            <!-- Task input field ---------------------------------->
            <div class="input-container">
                <input formControlName="newTask" type="text" placeholder="new task">
                <span
                    *ngIf="taskCreatorForm.controls['newTask'].hasError('pattern')"
                    class="error-msg"
                    [@errorMsg]
                    >Only numbers and letters allowed
                </span>
                <span
                    *ngIf="taskCreatorForm.controls['newTask'].hasError('required') && taskCreatorForm.controls['newTask'].touched"
                    class="error-msg"
                    [@errorMsg]
                >This field is not allowed to be empty
                </span>
            </div>
            <!-- category select ----------------------------------->
            <div class="input-container">
                <select (change)="newCategoryRequest($event)" formControlName="category">
                    <option *ngFor="let category of categories" value="{{category.content.name}}">{{category.content.name}}</option>
                    <option>+ Add new Category</option>
                </select>
            </div>
            <!-- Submit button ------------------------------------->
            <div class="input-container">
                <button type="submit">Add task</button>
            </div>
        </form>
    </div>
</div>
<tm-input-prompt (close)="closePrompt($event)" (addedCategory)="rollbackForm($event)" *ngIf="promptActive"></tm-input-prompt>
<!--&& taskCreatorForm.controls['newTask'].touched-->
