#task-creator-wrapper {
    width: 100%;
    padding: 35px;
    background: #282425;
    border-bottom: 1px solid #3e3a3b;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.grey-end {
    color: #786c6f;
    font-weight: 700;
}

.input-container {
    position: relative;
}

.error-msg {
    font-weight: bold;
    font-size: 12px;
    color: red;
    display: block;
    margin: 5px 0 15px;
}


form {
    display: flex;
    flex-flow: column nowrap;
}


h1 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}




@media all and (min-width: 960px) {

    h1, button {
        margin: 0 50px 0 0;
    }

    button {
        border-radius: 0 17px 17px 0;
        padding: 0 15px;
        margin: 0;
    }

    #form-container {
        width: 100%;
    }

    .input-container {
        margin: 0 1px 0 0;
    }

    .error-msg {
        position: absolute;
        left: 15px;
        top: 40px;
        display: block;
    }

    .input-container:first-child {
        width: 60%;
    }

    .input-container:nth-child(2) {
        width: 25%;
    }

    .input-container:nth-child(3) {
        width: 15%;
    }


    #task-creator-wrapper, form {
        flex-flow: row nowrap;
    }

    #task-creator-wrapper {
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
    }

    form {
        align-items: center;
        width: 100%;
    }

    input:first-child {
        border-radius: 17px 0 0 17px;
    }

    select {
        border-radius: 0;
    }

}


