.wrapper {
    display: flex;
    flex-flow: column wrap;
    color: white;
}



#task-list-container {
    width: 100%;
    background: #282425;
}

#filters-container {
    width: 100%;
    background: #636363;
}



@media all and (min-width: 520px) and (max-width: 959px) {

    .wrapper {
        padding: 40px 0 0;
        flex-flow: row wrap;
    }

    #task-creator-container {
        width: 100%;
    }

    #task-list-container {
        width: 100%;
    }

    #filters-container {
        width: 100%;
    }

}


@media all and (min-width: 960px) {

    .wrapper {
        padding: 40px 0 0;
        flex-flow: row wrap;
    }

    #task-creator-container {
        width: 100%;
    }

    #task-list-container {
        width: 80%;
    }

    #filters-container {
        width: 20%;
    }


}


