.wrapper {
    display: flex;
    flex-flow: column wrap;
    color: white;
}



#task-list-container {
    width: 100%;
    padding: 2%;
    background: #282425;
}

#filters-container {
    width: 100%;
    padding: 2%;
    background: #636363;
}


@media all and (min-width: 1000px) {

    .wrapper {
        padding: 40px 0 0;
        flex-flow: row wrap;
    }

    #task-creator-container {
        width: 100%;
    }

    #task-list-container {
        width: 75%;
    }

    #filters-container {
        width: 25%;
    }

}


